{require_otp_vsn, "R13|R14"}.

{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warnings_as_errors
 ]}.

%% Options for running dialyzer
%% {plt, PltFile}
%% 'src': run Dialyzer on the source files as in 'dialyzer --src'
%% {warnings, [WarnOpts]}: turn on/off Dialyzer warnings
{dialyzer_opts,
 [
  {plt, "bstr.plt"}, src,
  {warnings, [no_return, race_conditions, underspecs, behaviours]}
 ]}.

{deps,
 [
  %% Erlang library for building lightweight HTTP servers and JSON parsing
  %% Used just for mochinum:digits/1
  {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", "master"}}
 ]}.
